# filepath: /workspaces/acoustsee/.gitignore
# Ignore everything by default
*



# ! allows specific folders and their contents
!\.gitignore
!future/
!future/web/
!future/web/*
!future/web/**
future/web/no-deps-build-check.log
